{% extends 'base.html' %}
{% block content %}

<form id="cupcake-form" class=" flex-column container center">
    <label for="flavor">Flavor</label>
    <input type="text" name="flavor">
    <label for="rating">Rating</label>
    <input type="number" step=0.01 name="rating">
    <label for="size">Size</label>
    <input type="text" name="size">
    <label for="size">Image</label>
    <input type="url" name="image">
    <input type="submit" value="Add New Cupcake">

</form>
<ul id="cupcake-list" class="center container">
  
</ul>

{% endblock %}